.left-container .left-visits {
  flex: 0.2;
}
.left-container .left-visits p {
  font-size: 12px;
  text-align: center;
  padding-top: 7px;
}
.left-container .left-box {
  background-color: white;
  border: 1px solid #ced1d3;
  border-radius: 9px;
  margin: 0 15px;
  flex: 2;
  padding: 15px;
}
.middle-container .middle-title {
  flex: 0.2;
  display: flex;
}
.middle-container .middle-box {
  flex: 2;
  background-color: white;
  border: 1px solid #ced1d3;
  border-radius: 9px;
}
.middle-container .middle-title .middle-desc {
  flex: 1.5;
  font-size: 15px;

  height: 20px;
  margin-top: 22px
}
.middle-container .middle-title .middle-url {
  flex: 1;
  font-size: 13px;

  height: 20px;
  margin-top: 22px
}
.left-box .profile-img {
  width: 170px;
  margin: 10px;
}
.left-box .profile p {
  font-size: 13px;
  font-family: 'KyoboHand';
  height: 130px;
  margin: 10px;
}
.left-box .profile .profile-name {
  font-size: 15px;
  font-family: 'KyoboHand';
  margin: 10px;
}
.middle-box .updated-news {
  margin: 15px;
}
.middle-box .updated-news .updated-news-wrap {
  display: flex;
}
.updated-news-wrap .updated-news-left {
  flex: 0.5;
  height: 90px;
  display: flex;
  flex-direction: column;
}
.updated-news-wrap .updated-news-left .news-line {
  font-size: 11px;
  display: flex;
  margin-bottom: 2px;
}
.news-line .news-block-img {
  background-color: rgb(242,98,94);
  width: 36px;
  height: 16px;
  padding: 1px;
  text-align: center;
  color: white;
  border-radius: 3px;
  margin-right: 5px;
}
.news-line .news-block-txt {
  background-color: rgb(102,122,193);
  width: 36px;
  height: 16px;
  padding: 1px;
  text-align: center;
  color: white;
  border-radius: 3px;
  margin-right: 5px;
}
.updated-news-wrap .updated-news-right {
  flex: 0.5;
}
.updated-news-right .category {
  display: flex;
  flex-direction: column;
}
.updated-news-right .category .category-line {
  display: flex;
  margin-bottom: 1px;
}
.updated-news-right .category .diary {
  flex: 1;
  font-family: 'NeoDunggeunmo';
  font-size: 5px;
}
.updated-news-right .category .picture {
  flex: 1;
  font-family: 'NeoDunggeunmo';
  font-size: 5px;
}
.updated-news-right .category .board {
  flex: 1;
}
.updated-news-right .category .guest {
  flex: 1;
}
.middle-box .miniroom {
  margin: 15px;
}
.top-msg {
  color: rgb(63,133,172);
  font-family: 'KOTRA_BOLD-Bold';
  font-size: 13px;
}
hr {
  border-bottom: 0px;
  margin-top: 1px;
}
hr.dotted {
  border: none;
  width: 100%;
  border: 0.1px dashed rgb(192, 191, 191);
}