* {
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  background-image: url("../images/pattern.png");
  background-size: 100px;
  background-color: #a3a3a3;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.bookcover {
  width: 960px;
  height: 600px;
  margin: 50px auto;

  background-color: #b4d1da;

  border-radius: 9px;
  border: 1px solid #738186;

  position: relative;
}
.bookdot {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 936px;
  height: 575px;

  border: 2px dashed white;
  border-radius: 9px;
}
.page {
  position: absolute;
  top: 8px;
  left: 7px;

  width: 921px;
  height: 560px;
  background-color: rgb(238,238,238);

  border: none;
  border-radius: 9px;

  display: flex;
}
.left-container {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  margin-bottom: 15px;
}
.middle-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-bottom: 15px;
}
.right-container {
  border: 1px solid gray;
  border-radius: 5px;
  flex: 0.15;
  margin: 15px 15px 15px 0;
}