/* 모든 페이지에 적용될 CSS */

/* 기본 레이아웃 구조*/
* {
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  background-image: url("../images/pattern.png");
  background-size: 100px;
  background-color: #a3a3a3;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.bookcover {
  width: 960px;
  height: 600px;
  margin: 50px auto;

  background-color: #b4d1da;

  border-radius: 9px;
  border: 1px solid #738186;

  position: relative;
}
.bookdot {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 936px;
  height: 575px;

  border: 2px dashed white;
  border-radius: 9px;
}
.page {
  position: absolute;
  top: 8px;
  left: 7px;

  width: 921px;
  height: 560px;
  background-color: rgb(238,238,238);

  border: none;
  border-radius: 9px;

  display: flex;
}
.left-container {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  margin-bottom: 15px;
}
.middle-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-bottom: 15px;
}
.right-container {
  border: 1px solid gray;
  border-radius: 5px;
  flex: 0.15;
  margin: 15px 15px 15px 0;
}

/* 왼쪽 컨테이너 세부사항 */
.left-container .left-visits {
  flex: 0.2;
}
.left-container .left-visits p {
  font-size: 12px;
  text-align: center;
  padding-top: 7px;
}
.left-container .left-box {
  background-color: white;
  border: 1px solid #ced1d3;
  border-radius: 9px;
  margin: 0 15px;
  flex: 2;
  padding: 15px;
}

/* 가운데 컨테이너 세부사항 */
.middle-container .middle-title {
  flex: 0.2;
  display: flex;
}
.middle-container .middle-box {
  flex: 2;
  background-color: white;
  border: 1px solid #ced1d3;
  border-radius: 9px;
}
.middle-container .middle-title .middle-desc {
  flex: 1.5;
  font-size: 15px;

  height: 20px;
  margin-top: 22px
}
.middle-container .middle-title .middle-url {
  flex: 1;
  font-size: 13px;

  height: 20px;
  margin-top: 22px
}

/* Profile */
.left-box .profile-img {
  width: 170px;
  margin: 10px;
}
.left-box .profile p {
  font-size: 13px;
  font-family: 'KyoboHand';
  height: 130px;
  margin: 10px;
}
.left-box .profile .profile-name {
  font-size: 15px;
  font-family: 'KyoboHand';
  margin: 10px;
}